#show{
	font-size: 20px;
	font-family: times new roman;
	line-height: 40px;
}
.container{
	margin-top: 50px;
}
#row1{
	margin-top: 20px;
}
#overlay{
   width: 100%;
   height: 100%;
   background: #000;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   opacity: 100;
   z-index: 1000;
   display: none;
}
#overlay_div{
   background-repeat:no-repeat;
   background-attachment:fixed;
   background-position:center; 
   background-color: #fff;
   width: 1000px;
   height: 640px;
   margin: 0 auto;
   position: absolute;
   top: 5%;
   right: 5%;
   bottom: 5%;
   left: 5%;
   z-index: 1500;
   box-shadow: 0 0 50px #000;
   -o-box-shadow: 0 0 50px #000;
   -moz-box-shadow: 0 0 50px #000;
   -webkit-box-shadow: 0 0 50px #000;
   -ms-box-shadow: 0 0 50px #000;
   display: none;
}

#done{
   position: absolute;
   right: 10px;
   bottom: 10px;
}

.btn{
   height: 40px;
}